button {
  border-radius: 6px;
  border: 1px solid rgb(87, 87, 87);

  background-color: inherit;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition-property: transform;
  margin-left: 5px;
}

button:hover {
  border-color: #fffc64;
  transform: scale(1.2);
  transition-duration: 500ms;
}

button:focus,
button:focus-visible {
  outline: none;
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000dff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */