.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-style: italic;
}

.input {
  width: 300px;
  background-color: inherit;
  border-radius: 25px;
}

.input:focus {
  border-color: #ffee00;
  outline: none;
}
